

<ion-content class="ion-padding ">
  <ion-card color="secondary" class="titulo centradoFlex">
    <div>
      <ion-card-title>Scan Roster</ion-card-title>
      <ion-card-subtitle>Empleado</ion-card-subtitle>
    </div>
  </ion-card>

  <ion-img src="assets/img/lobopng.png"></ion-img>

</ion-content>

<div class="tranparente">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" offset="3" class="ion-margin-bottom">
        <ion-button routerLink="/login" color="secondary" expand="block" shape="round">
          Iniciar Sesion
        </ion-button>
      </ion-col>
      <ion-col size="6" offset="3" class="ion-margin-bottom">
        <ion-button routerLink="/registrar" color="secondary"   expand="block" shape="round">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="barraInferior centradoFlex " >Derechos Reservados ©</div>
</div>
  

